In [2]:
import pandas as pd
import numpy as np

In [3]:
d1 = {
    "social_media_followers": [1000, np.NaN, 20000, 130000, 17000, np.NaN, 41000, 160000, 220000, 100000],
    "sold_out": [1,0,0,1,0,0,0,1,0,1]
}

In [4]:
df1 = pd.DataFrame(d1)

In [5]:
df1

   social_media_followers  sold_out
0                  1000.0         1
1                     NaN         0
2                 20000.0         0
3                130000.0         1
4                 17000.0         0
5                     NaN         0
6                 41000.0         0
7                160000.0         1
8                220000.0         0
9                100000.0         1

In [ ]:
X1 = df1[['social_media_followers']]